<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053500937375-76s1b931ingdjlfavhru37dd5a3jt4on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053500937375-76s1b931ingdjlfavhru37dd5a3jt4on</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053500937375-3fghk4n45593491qrfjv7anchm28vegn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArgxwD27TdUyqibJUiD0GQv3EGJSAm99U</string>
	<key>GCM_SENDER_ID</key>
	<string>1053500937375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wrafirucker.ios</string>
	<key>PROJECT_ID</key>
	<string>wrafi-studios</string>
	<key>STORAGE_BUCKET</key>
	<string>wrafi-studios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053500937375:ios:23e7634525da6cdd0ebeaa</string>
</dict>
</plist>